body,
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

/* common style */
h5 {
  color: #2c73d2;;
}

p {
  color: #816F95;
}

a {
  text-decoration: none;
}
/* common style end */

/* home section */
header {
  z-index: 1;
}
.home {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/unsplash-NuFUbftUu_s-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bgimgsec {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hire-me-button {  
  background-color: #ffff;
  width: 15em;
  height: 2.5em;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border-radius: 1em;
}

.hire-me-button:hover {
  
  background-color: black;
  color: white;
  border-color: #808485;
  transition: background-color 0.5s ease-in;
  
}

.full-name {
  margin-bottom: 0.5em;
}
/* home section end */

/* about section */
.profile {
  width: 75%;
  height: 75%;
}

#about {
  padding-top: 2em;

}

.image {
  display: flex;
  justify-content: center;
}

.phone-icon {
  margin-top: 1em;  
}

.email-icon {
  margin-top: 1em;
}

.home-icon {
  margin-top: 1em;
}

.social-media {
  margin-bottom: 1em;
}

.contact-details:hover {
  color: #322B3D;
}
.section-heading {
  color: #26094A;
  display: flex;
  justify-content: center;
  font-size: xxx-large;
}

.section-content {
  margin-top: 2em;
}

.social-media {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.linkedin {
  margin-right: 0.5em;
  color: #212529;
}

.github {
  margin-right: 0.5em;
  color: #212529;
}

.instagram {
  margin-right: 0.5em;
  color: #212529;
}

.facebook {
  margin-right: 0.5em;
  color: #212529;
}

.linkedin:hover {
  color: #0073b0;
}

.github:hover {
  color: #404040;  
}

.instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-color 0.5s ease-in;  
}

.facebook:hover {
  color: #3b5998;  
}
/* about section end */
